html {
  scroll-behavior: smooth;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff !important;
}
body {
  // background-image: linear-gradient(
  //   to left top,
  //   #201ab1,
  //   #992fa8,
  //   #cf61a5,
  //   #ef9bb2,
  //   #ffd6d6
  // );
  background-image: linear-gradient(to right top, #000102, #02090f, #031018, #04151f, #031927);
}
h1 {
  color: #fff;
}
p {
  color: #fff;
}
.main-btn {
  outline: unset;
  width: 200px;
  height: 53px;
  background-color: #1762a7;
  border-radius: 10px;
  color: #fff;
  border: unset;
}
.main-btn:hover {
  background-color: #1762a7;
  outline: unset;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #ef5da8 !important;
}
.form-label {
  color: #fff;
}

.ctn {
  margin: 70px 50px 82px 50px;
  background: #2f303a;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
