.Discover {
  margin-top: 210px;
  .discover-content {
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 56px;
      line-height: 100%;
      margin-bottom: 90px;
    }
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 31px;
      line-height: 136.5%;
      margin-top: 90px;
    }
  }
  .discover-img {
    margin-left: 164px;
    img {
      width: 400px;
      height: 400px;
    }
  }
}
