html {
  scroll-behavior: smooth;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff !important;
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000102), color-stop(#02090f), color-stop(#031018), color-stop(#04151f), to(#031927));
  background-image: linear-gradient(to right top, #000102, #02090f, #031018, #04151f, #031927);
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.main-btn {
  outline: unset;
  width: 200px;
  height: 53px;
  background-color: #1762a7;
  border-radius: 10px;
  color: #fff;
  border: unset;
}

.main-btn:hover {
  background-color: #1762a7;
  outline: unset;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #ef5da8 !important;
}

.form-label {
  color: #fff;
}

.ctn {
  margin: 70px 50px 82px 50px;
  background: #2f303a;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.navbar {
  margin-top: 42px;
}

.home {
  margin-top: 2.5%;
}

.home-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 100%;
  z-index: 111;
}

.home-para {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 29.5px;
  line-height: 100%;
  z-index: 111;
}

.home .home-detials {
  margin-top: 100px;
  z-index: 111;
}

.home .ellipse-1 {
  position: absolute;
  width: 238px;
  height: 238px;
  left: 9px;
  top: 380px;
  z-index: -1;
}

.home .ellipse-2 {
  position: absolute;
  width: 150px;
  height: 127px;
  left: 644px;
  top: 98px;
  z-index: -1;
}

.home .ellipse-3 {
  position: absolute;
  width: 336px;
  height: 264px;
  left: 1013px;
  top: 402px;
  z-index: -1;
}

.home .home-img {
  z-index: 111000;
}

.home .home-img img {
  z-index: 11100;
}

.Discover {
  margin-top: 210px;
}

.Discover .discover-content h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 90px;
}

.Discover .discover-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 136.5%;
  margin-top: 90px;
}

.Discover .discover-img {
  margin-left: 164px;
}

.Discover .discover-img img {
  width: 400px;
  height: 400px;
}

.Join {
  margin-top: 150px;
}

.Join .header {
  margin: 190px 192px 300px 0px;
}

.Join .header h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 100%;
}

.Join .header h1 span {
  color: #ef5da8;
}

.Join .background {
  background: #202027;
  border-radius: 20px;
  height: 480px;
}

.Join .background form {
  padding: 68px 45px;
}

.Join .background form .form-label {
  margin-bottom: 18px;
}

.Join .background form .form-control {
  border: 2px solid #1762a7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: unset;
}

.Join .background form .primary-btn {
  margin-top: 25px;
  width: 477px;
  height: 46px;
}

.footer {
  background-color: #202027;
  padding: 25px 0px;
}

.footer .footer-logo a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin-right: 12px;
  /* or 24px */
  color: #ffffff;
}

.footer .footer-social {
  margin-left: 55%;
}

.footer .footer-social a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}

.footer .footer-social a i {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 1rem;
}
/*# sourceMappingURL=style.css.map */